

/* navigation bar container */
.navContainer {

    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 

    background-color: darkseagreen;
    height: 100px; 
    
}


/* navigation bar items */
.navBarItems {

    width: 50px; 
    height: 50px; 
    background-color: lightblue;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
}

/* main logo rules --> override .navBarItems rules */
#navLogo {

    padding-top: 30px; 

}

/* headerId to set CSS rules apart from .navContainer 
    * .navContainer rules correspond to .navBarItems *only* */ 
#headerId {

    height: 100px; 

    background-color: steelblue;  
}

.homecontainer {

    display: flex; 
}



/* for navBar --> margins centered 
        --> furthest left/right item don't reach end of page (width) */

/* smaller logo? more legit logo */



.pageTest {

    display: flex; 

    background-color: beige;
    border-color: red; 
    border-style: dashed;

    height: 350px; 

    text-overflow: clip;
}

.leftContainer {

    justify-content: flex-start;
    align-content: flex-start; 
}

.rightContainer {

    justify-content: flex-end;
    align-content: flex-end; 

}

#dropDown1 {

    justify-content: flex-start;
}


#dropDown1, a:hover {

    background: red; 

}
