

h1 {

    text-align: center;

}

h4 {

    text-align: center;
}

.maths {

    padding-top: 5px;
    padding-left: 20px; 
    padding-right: 20px;
    padding-bottom: 2px;
    border: solid black; 
}

.label {

    font-weight: bold; 
    font-size: 14pt;
}


.container {
    display: flex; 
  }
  
  .leftDisplay {  
    margin-right: 80px;  
  }
  
  .maths {
    background-color: lightgray;
  }
  
  .rightDisplay {
    display: float-right;
    background-color: lightblue;
    padding-bottom: 2px; 
    border: solid black; 

  }
