body {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;  
}

ul {

    list-style: none;
}

.background-1 {
    background: #68B0AB;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background: #FAF3DD;
}

.m-20 {
    margin: 20px;
}

.h-80 {
    height: 80px;
}

.h-400 {
    height: 400px;
}

.w-80 {
    width: 80px;
}



.flex-container {
    
    display: flex; 

    flex-direction: column;
    align-items: normal;
    justify-content: space-evenly;
    
}



.flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4 {

    flex: none; 
}

/* 2.2 --> why would I flex these items? they don't overflow the flex-container?? */



.flex-center {

    align-items: center; 
    justify-content: end;
}
 
.flex-wrap {

    flex-direction: row-reverse; 
    
}

.flex-space-between {

    flex-direction: row; 
    /* changes 4. Assigning leftover space to its original layout */
    justify-content: space-between; 

}

/* combo class for 5. ?? */


.flex-basis-item-50, .flex-wrap {

    flex-wrap: wrap; 
    flex-basis: 25%;  
}


.flex-menu {

    /* menu as pictured is definetly 
    aligned main-start (left) and cross-center... 

    ...but how do background of link bigger? */ 


    display: flex; 
    justify-content: flex-start;
    flex-direction: row; 
    align-items: center;
    flex-grow: 1; 

    height: 65px; 
    gap: 5px; 
    

    /* height: 80px; */
    
}

/* classes for flex-menu children items */ 
.first-item, .second-item, .third-item, .fourth-item, .fifth-item {
    /* class members are all list items */ 


    display: flex; 
    height: 60px; 
    width: 120px; 
    text-align: center; 
    justify-content: center;
    align-items: center;  

    /* justify --> x-value 
        align-items --> y-value */

}


/* 7. --> .flex-menu class 

    use 'flex-grow' property --> allocate remaining negative space 

        --> see: 'FAQs' is narrower than 'Contact Us' 

*/




.fourth-item {

    order: 1;
}



/* Q U E S T I O N      A N S W E R S 


2.3 - Setting 'display: flex;' for the flex-container class sets the display value for every div element 
        in the .flex-container class. As I've noted, this requires you to make further CSS rules to override 
        other div classes. 
















*/ 


