/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */

article {

    margin: 20px 0;
    padding: 20px; 
    border: 1px solid black;

}

.style-me1 {

    color: red; 
}

#style-me2 {

    color: blue; 
}

.style-me1+#style-me2 {

    color: purple; 
}

/* these should appear in the same order, no? */ 



/* Put styles for questions 2.1 and 2.2 here */

.my-descendants-are-styled p {

    background-color: red; 

}

.my-children-are-styled p {

    background: lightgreen; 

}


/* II. Box model and common properties */
/* Put styles for questions 1-8 here */

/*1.1 and 1.2 */ 

.box {

    background-color: orange;

    margin: 4px; 
    padding: 80px;  


    border-style: solid; 
    border-width: 10px; 

    overflow: auto; 

    /* 4.1 */

    width: 600px; 
    height: 200px; 
    box-sizing: border-box; 

    /* 6.1 
    outline: 50px;  
    outline-color: pink; 
     
    does not work?? */

    /* 7.1 */ 
    border-radius: 50%; 

    /* 8.1 */ 
    background-image: url(./assets/images/img1.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    
}


/* 5.1 -- directions didn't ask for this but ??? */
#fivePointOne {

    overflow: scroll;  
    text-wrap: nowrap; 
}


/* come back to this? Just make it look good this is dumb. */
/* 2.1 - 2.3 ??? */ 


/* 4.1 --> refer to pdf 



/* III. Positioning */
/* Put styles for questions 1-3 here */

.position-absolute {

    position: absolute;
    top: 0; 
    background-color: dodgerblue; 

}


.position-relative {

    position: relative; 
    background-color: aquamarine;
    left: 100px;  
    /* right: 100px;   */
}


.position-sticky {

    position: sticky; 
    background-color: mediumorchid; 
    top: 80px; 
}


/* IV. Styling text */
/* Put styles for questions 1-10 here */

.text-style {

    color: blue;
    font-size: 14.2pt;  
    line-height: 8px;
    font-weight: bold 700;



  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;


  text-align: right; 
  letter-spacing: 5px; 
  word-spacing: 2px; 
  text-transform: uppercase;
  text-decoration: overline; 

}


/* V. Styling links */
/* Put styles for questions 1-3 here */

a:link {

    color: orangered; 
    font-size: 14pt; 
    font-weight: bold 500; 
    text-decoration: line-through;

}

a:hover, a:active, a:focus {


    color: darkslategray; 
    text-decoration: overline; 

}

a:visited {

    color: blueviolet;
    font-style: italic; 

}


/* VI. calc() */
/* Put styles for questions 1-3 here */

.calc-style {

    width: 100vw; 
    background-color: blanchedalmond;
    width: calc(100vw - 100px);  

}

#fixedSelector {

    width: 350px; 
    display: inline-block; 
}

#fluidSelector {

    display: inline-block; 
    width: calc(100vw-350px);
    
    /* I think this is what VI. #3 was asking?? But I can't tell */

}